
  $textColor: #222222;
  $primary: #fed136;
  $lightTextColor: #777777;
  $inputText: #bbb;
  $defaultFontSize: 14px;
  $container: 980px;
  $containerPadding: 20px;
  $md1:1024px;
  $md2: 768px;
  $md3: 578px;
  $md4: 425px;
  $md5: 375px;
  $md6: 320px;
  $burger: #000;