.header{
background: #fff;
color: $textColor;
z-index: 4;
width: 100%;
top: 0;
left: 0;
padding-top: 50px;
.container{
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
font-size: 1.9rem;
font-weight: 400;
font-family: "Wisdom", serif;
color: $primary;
}
}
.menu{
    font-family: "Montserrat", serif;
@media (max-width: $md2){
position: fixed;
width: 100%;
height: 100vh;
top: 0;
left:0;
background: $primary;
clip-path: circle(0px at top right);
transition: clip-path .5s;
}

}

.menu-list{
display: flex;
.menu-item{
position: relative;
transition: color .3s;
&:not(:first-child){
margin-left: 33px;
}
@media (max-width: $md2){
margin-left: 0 !important;
margin-bottom: 5vh;
width: 100%;
text-align: center;
}

.menu-link{
color: inherit;
text-transform: uppercase;
@media (max-width: $md2){
color: #fff;
font-size: 24px;
}
}

@media (min-width: $md2){
&:hover{
color: $primary;
}
}
}
@media (max-width: $md2){
flex-direction: column;
height: 100%;
justify-content: center;
}
}

// menu mobile button
#menu-checkbox{
display: none;
}

.menu-btn{
position: relative;
z-index: 4;
width: 40px;
display: none;
span{
position: absolute;
top: 0;
width: 100%;
height: 2px;
background: $burger;
transition: transform .3s;
&::before{
content: '';
display: block;
position: absolute;
top: -8px;
width: 100%;
height: 2px;
background: $burger;
transition: transform .3s, top .3s;
}
&::after{
content: '';
display: block;
position: absolute;
top: 8px;
width: 100%;
height: 2px;
background: $burger;
transition: background .3s, transform .3s, top .3s;
}
}
@media (max-width:$md2) {
display: block;
}
}

// menu mobile working
#menu-checkbox:checked ~ .menu{
clip-path: circle(1150px at top right);
}

#menu-checkbox:checked ~ .conect{
top: 20px;
}

#menu-checkbox:checked ~ .menu-btn{
span{
&::before,
&::after{
}
&::before{
top: 0;
}
&::after{
transform: rotate(90deg);
top: 0;
}
transform: rotate(45deg);
}
}